@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #444;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

#cats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  padding: 20px;
}

#breed-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff8f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#breed-info-container div {
  text-align: center;
}

#breed_json {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}

#wiki_link {
  display: block;
  margin-top: 5px;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

#wiki_link:hover {
  text-decoration: underline;
}

#breed_image {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
  display: none;
}

#loader img {
  width: 150px;
  height: auto;
}

.cat-card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.cat-img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 15px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.cat-img:hover {
  transform: scale(1.1);
}

.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 140px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  border: none;
  z-index: 5;
}

.heart-icon.show {
  opacity: 1;
}

.cat-like-button {
  bottom: 10px;
  right: 10px;
  font-size: 26px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease;
}

.cat-like-button.liked {
  color: #f15bb5;
  transform: scale(1.2);
}

.cat-like-button:hover {
  transform: scale(1.2);
}

.heart-icon.bounce {
  animation: heart-bounce 0.6s ease-in-out;
}

.cat-actions {
  display: flex;
  justify-content: flex-start;
  gap: 9px;
  align-items: center;
  width: 93%;
  margin-top: 17px;
}

.cat-action-button {
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.cat-action-button:hover {
  transform: scale(1.2);
  color: #f5c6e5;
}

.like-count {
  display: block;
  text-align: left; 
  font-size: 14px;
  font-weight: bold;
  margin: 6px 0 10px 10px;
  width: 94%;
  color: #444;
}

@keyframes heart-bounce {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .cat-card {
    width: 100%;
    aspect-ratio: auto;
  }

  .cat-img {
    width: 100%;
    height: auto;
  }
}
