body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #444;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

#cats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  padding: 20px;
}

#breed-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff8f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#breed-info-container div {
  text-align: center;
}

#breed_json {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}

#wiki_link {
  display: block;
  margin-top: 5px;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

#wiki_link:hover {
  text-decoration: underline;
}

#breed_image {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
  display: none;
}

#loader img {
  width: 150px;
  height: auto;
}

.cat-card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.cat-card img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.cat-card img:hover {
  transform: scale(1.1);
}

.heart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  border: none;
  z-index: 5;
}

.heart-icon.show {
  opacity: 1;
}

.cat-like-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  color: #f15bb5;
  transition: transform 0.2s ease;
}

.cat-like-button:hover {
  transform: scale(1.2);
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .cat-card {
    width: 100%;
    aspect-ratio: auto;
  }

  .cat-card img {
    width: 100%;
    height: auto;
  }
}
